.a,
.c,
.e {
    height: 100vh;
    background-image: url("img1.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.b {
    height: 100vh;
    background-color: #FF9966;
}

.d {
    height: 100vh;
    background-color: #CC00FF;
}